html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial,sans-serif;
	overflow:hidden;
}

#map_canvas
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%; 
}

.infoBoxMain {
	display:block;
	overflow-y:hidden;
	height:100%;
}

.infoBoxTopLeft {
	width: 9px;
	height: 38px;
	background-repeat: no-repeat;
	float: left;
}

.infoBoxTopCenter {
	height: 38px;
	/* the margins are the width of the top left and top right slices - this is not always neccessary, but in my case I was using alpha-transparent PNG8, which broke the layout in IE6 then */
	margin-left: 9px;
	margin-right: 24px;
	background-repeat: repeat-x;
}

.infoBoxTopRight {
	width: 24px;
	height: 38px;
	background-repeat: no-repeat;
	float: right;
}

.chrome .infoBoxTopRight {
	/* Hack to account for the InfoBox Close Icon*/
	position: relative;
	left: 0px;
	z-index: -1;
}

.gecko .infoBoxTopRight {
	/* Hack to account for the InfoBox Close Icon*/
	position: relative;
	left: 0px;
	z-index: -1;
}

.infoBoxMiddleCenter {
	/* Put your text formatting here */
	/* again, margins are the widths of the left and right center slice */
	
	margin-left: 9px;
	margin-right: 24px;
	background-color: #f5f5f5;
}

.infoBoxMiddleCenterClearFix {
	/* you better have this if you have floated stuff in your content */
	clear: right;
}

.infoBoxBottomLeft {
	/* same technique as above when stying the top part */
	/* again, image size defines the size of this div */
	float: left;
	
	background-repeat: no-repeat;
	width: 18px;
	height: 21px;
}

.infoBoxBottomCenter {
	height: 21px;
	/* the margins are the width of the top left and top right slices - this is not always neccessary, but in my case I was using alpha-transparent PNG8, which broke the layout in IE6 then */
	margin-left: 18px;
	margin-right: 24px;
	background-repeat: repeat-x;
}

.infoBoxBottomRight {
	width: 24px;
	height: 21px;	
	background-repeat: no-repeat;
	float: right;
}

.infoBoxTopContent
{
	height: 0px;
	position: relative;
	left: -4px;
	top: -32px;
	font-size: smaller;
}

.infoBoxTopOEMIcon
{
	width: 40px;
	height: 22px;
	float: left;
}

.infoBoxTopAssetIcon
{
	width: 50px;
	height: 20px;
	float: left;
	padding-left: 8px;
}

.infoBoxTopAssetID
{
	height: 20px;
	padding-top: 5px;
	padding-left: 8px;
	margin-right:10px;
	float: left;
	cursor: pointer;
	cursor:hand;
	font-weight:bold;
	font-size:12px;
	color:#0000FF;
}

.infoBoxTopTimestamp
{
	height: 20px;
	padding-top: 5px;
	font-weight:bold;
	font-size:12px;
}

.infoBoxBottomContent
{
	position: relative;
	left: 0px;
	top: -10px;
	display:table;
}

.infoBoxMiddleData {
	overflow: hidden;
	padding-left:5px;
}
.columnTitle {
	float: left;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	width:150px;
	text-align:right;
}

/* MAP INFO MENU and SEARCH CONTROL */

.swingbox { 
	position: absolute;
	top:31px; right:10px; 
	padding: 0px 0px;
	text-align: left;  
	cursor:default;
	z-index:-1;  
	background-color: #FFF;
	border: 1px solid #9b9ea0;
	display: none;  
}
.mapButton, .button-selected, .dropdown {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	text-align: center;     
	font-size: 10px; 	
	color: #000;
	border: 1px solid #717B87;
	background-color: #fff; 
} 
.mapButtonText{
	font-weight:bold;
	font-size: 10px; 
	padding: 3px 4px;
}
.mapButton{  
	margin-top:10px;
	margin-right:10px;    
	border:1px solid #000;
	overflow: hidden;
} 
.firstMapButton{
	margin-right: 30px;
	z-index: 1!important; /*keep map info above legend*/
} 
.button:hover {
	background: #F3F3F3; 
}    
.pac-container {
	font-family: Roboto;
} 
#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
} 
#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
.searchBoxExtn{
	background-color:#fff;
	border: 1px solid #717B87;
	border-radius:5px;
	padding:2px 5px 0px 5px;
	margin-top:8px;
	margin-right:8px;
	height:21px;
	display:none;
}

.mapMenuVerticalAlign{
	vertical-align:middle;
	margin-right:8px;
}    

#addressInput {
	background-color: #fff;
	padding: 0 8px 0 0px;
	width: 150px; 
	font-size: 12px;
	font-weight: 300;
	text-overflow: ellipsis;
	border:none;
	border-right: 1px solid #c4cccc;
	margin-right:8px;
	focus-alpha:0px;
	outline:none;
}

.gapLeft{
	padding-left:2px;
} 
div.hr {	
	height: 2px; 
	border: 0; 
	background-color: #cccccc; 
	margin-top: 5px; 
	margin-right: 3px; 
	margin-left: 3px; 
	margin-bottom: 5px; 
}  

ul#navmenu, ul.sub1,ul.sub2 {
	list-style-type: none;
	font-size: 11px;  
	margin: 0px;
	padding: 0px;
}

.menuLiItem{
	position: relative;
	float: left;
	width:100%;
}
ul#navmenu li { 
	text-align: left;   
	min-width: 110px;
	padding-right: 5px;
}

ul#navmenu ul.sub1 {
	display: none;  
	position: absolute;
	right:115px; 
	top:78px;
	border: 1px solid #9b9ea0;
	background-color: #FFF;
	min-width:150px;  
}

ul#navmenu ul.sub2 {
	display: none;  
	position: absolute;
	right:115px; 
	top:22px;
	border: 1px solid #9b9ea0;
	background-color: #FFF;
	min-width:150px;  
}
ul#navmenu ul#detailULMenu {
	top:25px;
}

ul#navmenu a {
	text-decoration: none;
	display: block; 
	height: 20px; 	
	line-height: 20px;
	color: #000000; 
}

ul#navmenu .sub1 a {
	margin-top: 0px;
}
ul#navmenu li:hover {
	background-color: #ebeff3;
}
.displayMenuLabel{
	color:#abb4b4;
	padding-left:16px;
}
.arrowIcon{
	border-right: 10px solid transparent;
	background:url(../images/Arrow_Right.png) no-repeat right center;	
}

.labels {
	color: red;
	background-color: #ffffca;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;     
	border: 0.5px solid black;
	white-space: nowrap;
}

ul#navmenu label{ 
	display:inline-block;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	font-family: tahoma, arial;
	font-size: 0.9em;
	width:100%;
	text-indent:16px;
	white-space: nowrap;
} 

ul#navmenu li.indent1 label {
	text-indent: 27px;
}

ul#navmenu li.indent2 label {
	text-indent: 38px;
}

ul#navmenu li.disabled label {
	opacity: 0.4;
	filter: alpha(opacity=40); /* IE */
	cursor: default;
}

ul#navmenu input[type=radio] { display:none; cursor: pointer;}

ul#navmenu input[type=checkbox] { display:none; margin:10px; cursor: pointer; } 


/* ///// MAP INFO MENU and SEARCH CONTROL ENDS HERE*/


.toolLabels {
	color: white;
	background-color: #269FFF; /*This is the blue color in the VOComponent Measure tool*/
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 100px; 
	height: 20px;
	border: 2px solid white;
	white-space: nowrap;
}
/*GroupClusteringStyle*/
.groupInfoDiv
{
	width:65px;
	height: 40px;
	background: #EAEAEA;
	border:1px solid #AAAAAA;
	border-radius:5px;
	display:table-row;
	position:absolute;
}
.countContainer
{
	padding-left:auto;
	padding-top:10px;
	width:50px;
	float:left;
	padding-left:10px;
	padding-right:5px;
	padding-top:10px;
	font-weight:bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
.imageContainer
{	
	float:right;
	height:40px;
	border: 1px solid #000000;
	width:15px;
	padding-left:2px;
	padding-top:3px;
	background-color:#040B50;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.toolTipLabel {
	color: #000000;
	background-color: #FFFFCA;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;     
	border: 1.5px solid black;
	border-radius : 5px;
	white-space: nowrap;
	padding : 3px;
}

.projectToolTipLabel {
	color: #000000;
	background-color: #FFFFCA;
	font-family: "Arial", "Lucida Grande", sans-serif;
	font-size: 12px;	
	text-align: center;     
	white-space: nowrap;
	padding : 4px;
	box-shadow: 2px 4px 6px #7B7B7B;
	border-radius: 5px;
}
/*infowindow styling*/
.container
{
	position: relative;
	max-width: 378px;
}

.left-column
{
	background-color: #cadbff;
	padding: 2px;
	border:1px solid #d3d3d3;
}

.right-column
{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 15px;
	background-color: teal;
}
.topContainer
{
	display: table;
	border:1px solid #d3d3d3;
	margin-bottom:2px;
	background-color:#EAEAEA;
	padding:5px;
}

.imgContainer
{
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}
.textContainer
{
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	color: #0000FF;
}

.bottomContainer
{
	display: table;
	border:1px solid #d3d3d3;
	text-align:center;
	background-color:#EAEAEA;
}

table
{
	width:310px;
	float:left;
}
.trLeft
{
	width:150px;
	text-align:right;
	font-size:12px;
}
.trRight
{
	text-align:left;
	font-size:12px;
	width:150px;
	font-weight:bold;
}

.noUserSelection
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.manageSiteEditInputs{          
	font-family: "Lucida Grande", "Arial", sans-serif;
	background-color: #ffffff;
	font-size: 0.750em;
	font-weight: bold;
	text-align: left;          
	white-space: nowrap;
	padding: 3px;
}
th 
{
	padding:0px 15px 0px 0px;
}
#siteColorPicker
{
	width:70px;
}

#editSiteInfoLabel 
{
	font-family: "Lucida Grande", "Arial", sans-serif;
	background-color: #FFFF8C;
	font-size: 0.750em;
	text-align: left;
	height : 15px;
	padding : 3px;
}
.managesiteEditContainer
{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}
.txtSiteName
{
	border-bottom-color: #b3b3b3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #b3b3b3;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #b3b3b3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;`
}
.red {  /* for error messages */
	color: #FF0000;
}

.logo{ margin-top:3px; margin-left:3px;}
.textBlue{color:#040b50;} 
/*Logo Header*/
.divLogoHeader
{
	border:1px solid #ccc;
	margin-bottom:5px; 
	border-radius:5px; 
	background-color:#040b50;
}
.tableTopLogoHeader
{
	width:280px;
	border:0;
	
}
.tableTopLogoHeaderTD
{
	align:left;
	valign:top;
}
/*AssetIconContainer*/
.divFortable
{
	border:1px solid #ccc;
	margin-bottom:5px; 
	border-radius:5px; 
	background-color:#eaeaea;
}
.tableClassForCAT
{
	width:350px;
	border:0;
	
}
.tableClass
{
	width:280px;
	border:0;
	
}
.catLogoTD
{
	width:15%;
	align:left;
}
.catImageAssetTD
{
	width:20%;
	align:left;
}
.catDataTD
{
	width:65%;
	align:left;
}
.imageAssetTD
{
	width:25%;
	align:left;
}
.dataTD
{
	width:75%;
	align:left;
}
.bottomContainerText
{
	vertical-align:top;
	text-align:right;
	font-size:0.9em;
	
}
.bottomContainerValue
{
	vertical-align:bottom;
	text-align:left;
	font-weight:bold;
	font-size:0.9em;
	
}
.bottomContainerLocationValue
{
	vertical-align:top;
	text-align:left;
	font-weight:bold;
	font-size:0.9em;
}

div.infowindow {
	max-height:350px;
	overflow-y:auto;
}

/*support drag cursors on polylines. see http://stackoverflow.com/questions/16552790/google-maps-api-3-change-polygons-default-cursor */
.draggingPolylineOnMap,
.draggingPolylineOnMap * {cursor: url(images/MoveCursor.cur), url(images/MoveCursor.png), move !important;} 

.clickableDiv
{
	
	font-weight:bold;
	font-size:0.9em;
}
.clickableDiv:hover
{
	text-decoration:underline;
	cursor: pointer; 
	cursor: hand;
}
.logoContent
{
	border:1px solid #ccc;
	margin-bottom:2px;
	border-radius:5px;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.infoBoxContent
{
	border:1px solid #ccc;
	margin-bottom:2px;
	border-radius:5px;
	background-color:#eaeaea;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
table.hoursLocationInfoWindow { min-width: 200px; width: 100%; border-collapse: collapse; }
.hoursLocationContent
{
	display:block;
	padding:0px;
	overflow:hidden;
	min-width: 200px; 
	min-height:130px;
	width: 100%; 
	border-collapse: collapse;
}
.hoursLocationTopContent
{
	height:22px;
	padding-top:8px;
	padding-bottom:3px;
	margin-bottom:1px;
	/*border:1px solid #ccc;*/
	font-weight: bold;
	text-align:center;
	font-weight:bold;
	font-size:0.9em;
	vertical-align:center;
	margin-left:50px;
}
.hoursLocationBottomContent
{	
	font-size:0.9em;
	min-height:90px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap:break-word;
	border-top:1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:absolute;
	left:0;
	top:34px;
	right:2px;
	bottom:0;
	margin-bottom:1px;
	border-radius:5px;
	word-wrap:break-word;
}
.hoursLocationTdRight
{
	width:80px;
}
.hoursLocationTdAlign
{
	vertical-align:top;
}
.gm-style-iw /*google info window container*/
{
	width:auto!important;
	height:auto!important;
	left:0!important;
	top:0!important;
	right:0!important;
    /*bottom:0!important;*/
}
.gm-iw.gm-sm /*small google info window for parks and places*/
{
	padding:10px;
}
.infowindowContainer
{
	display:block;
	min-height:150px;
	padding:0px;
	overflow:hidden;
}
.infoWindowAssetNameContainer
{	
	height:27px;
	padding-top:3px;
	padding-bottom:3px;
	margin-bottom:1px;
	font-weight: bold;
}
.infoWindowAssetNameContainer td
{
	white-space:nowrap;
}
.infowindowBottomContainer
{
	position:absolute;
	left:0;
	top:34px;
	right:2px;
	/*bottom:0;*/
	margin-bottom:1px;
	/*border-radius:5px;*/
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap:break-word;
	border-top:1px solid #ccc;
}

.infowindowBottomContainerLoadDump
{
    position:absolute;
    left:0;
    top:34px;
    right:2px;
    bottom:0;
    margin-bottom:1px;
    /*border-radius:5px;*/
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap:break-word;
    border-top:1px solid #ccc;
}

.infowindowBottomContainerNoScroll
{
	overflow-y: hidden;
}
/*info window with logo*/
.infoWindowContentLogoHeader
{
	position:absolute;
	top:0;
	right:0;
	left:0;
	height:31px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-repeat: no-repeat;
	background-position: 4px 50%;
}
.infowindowContainerWithLogo
{
	min-height:183px;
	padding:0px;
	overflow:hidden;
}
.infowindowContainerWithLogo .infoWindowAssetNameContainer
{
	padding-top:36px;
}
.infowindowContainerWithLogo .infowindowBottomContainer
{
	top: 67px;
}

table.infoWindow { min-width: 290px; width: 100%; border-collapse: collapse; }
table.infoWindow td { padding: 4px; }
table.infoWindowKeyValuePairs tr td { width: 50%; }
table.infoWindowKeyValuePairs tr td:first-child { text-align: right; }
table.infoWindowKeyValuePairs tr td:last-child { font-weight: bold; }
table.infoWindow tr.heading td { padding-left: 24px; text-align: left; font-weight: bold; }

.assetLoadInfoWindow { min-width: 290px; padding: 6px 0 0 24px; background: transparent url(../images/load.png) no-repeat 6px 8px; }
.assetDumpInfoWindow { min-width: 290px; padding: 6px 0 0 24px; background: transparent url(../images/dump.png) no-repeat 6px 8px; }

.errorToolTipLabel {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	padding: 7px;
	color: #ffffff;
	background-color: rgb(228, 58, 58);
	border: #6D6D6D solid 1px;
}
/*.busyCursor
{
	cursor:url('../images/cursorImage.cur'),url('images/cursorImage.cur'),wait;
}*/
.defaultCursor
{
	cursor:default !important;
}
#map_canvas
{
	/*cursor:url('../images/cursorImage.cur'),url('images/cursorImage.cur'),wait;*/
}
.callout {
	height:32px;
	position: absolute; 
	padding-top:0px;
	padding-bottom:0px;
	display:table;
	overflow:auto;
	border: 1px solid #666;
	background-color: #d3d3d3;
	/* easy rounded corners for modern browsers */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin:0px;
}
/*.callout .notch {
	position: absolute;
	bottom: -10px;
	left: 10px;
	margin: 0;
	border-top: 10px solid #eaeaea;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 0px;
	padding: 0;
	width: 0;
	height: 0;
	ie6 height fix 
	font-size: 0;
	line-height: 0;
	 ie6 transparent fix 
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color=pink);}*/
.callout:before,.callout:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}
.callout:before{
	top: 33px;
	left: 9px;
	border: 11px solid;
	border-color: #666 transparent transparent transparent;
}
.callout:after{
	top: 32px;
	left: 10px;
	border: 10px solid;
	border-color: #d3d3d3 transparent transparent transparent;
}

.imgDiv{ 
	float:left;
	line-height: 32px; 
	height:32px;
	padding-left:5px;
	margin:0px;
	cursor:pointer;
	cursor:hand;
	border-radius:2px;
	
}
.calloutLabelHolder{ 
	height:32px;
	line-height:32px;
	line-height:32px;
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin:0px;
	color:#4c4c4c;
	cursor:pointer;
	cursor:hand;
}
.calloutLabel{ 
	vertical-align:middle;
	display: inline-block;
	line-height: normal;
	padding:0px;
	margin:0px;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
	cursor:hand;
}
.expandDiv
{ 
	float:left;
	padding:0px;
	margin:0px; 
	height:32px;
	cursor:pointer;
	cursor:hand;
}
 

.htmltable
{
	width:100%;
	padding:0px;
}
.htmltable td
{
	padding-right:0xp;
	font-weight:bold;
}

#addressInput::-webkit-input-placeholder {
    font-style: italic;
	color: #ababab;
}
#addressInput::-moz-placeholder {
    font-style: italic;
	color: #ababab;
}
#addressInput:-ms-input-placeholder {
    font-style: italic;
	color: #ababab;
}
.centerAlign{ 
	text-align:center;
	margin:auto;
	width:100%;
	height:50px;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0; 
}


/* Switches Infowindow */
table.switchesInfoWindow { width: 100%; border-collapse: collapse; }
.switchesContent
{
	display:block;
	padding:0px;
	overflow:hidden;
	min-width: 200px; 
	min-height:100px !important;
	width: 100%;
	height:auto;
	border-collapse: collapse;
}
.switchesTopContent
{
	height:22px;
	padding-top:12px;
	padding-bottom:3px;
	margin-bottom:1px;	
	font-weight: bold;
	text-align:center;
	font-weight:bold;
	font-size:0.9em;
	vertical-align:left;
	padding-left:50px;
}
.switchesBottomContent
{	
	font-size:0.9em;
	min-height:90px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap:break-word;	
	border-top:1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:absolute;
	left:0;
	top:34px;
	right:2px;
	bottom:0;
	margin-bottom:1px;	
	word-wrap:break-word;
}
.switchesTdRight
{
	width:120px;
	font-weight:bold;
}
.switchesTdLeft
{
	width:80px;
}
.switchesTdAlign
{
	vertical-align:top;
}

